@font-face {
  font-family: 'Andada Pro Regular';
  src: url("AndadaPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Andada Pro Medium';
  src: url("AndadaPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Andada Pro SemiBold';
  src: url("AndadaPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Andada Pro Bold';
  src: url("AndadaPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Andada Pro ExtraBold';
  src: url("AndadaPro-ExtraBold.ttf");
  font-weight: 800;
}