@mixin moveShadowBox($blur) {
  box-shadow: 0 5px $blur #3F3F3F;
  transition: 200ms ease;
  &:hover {
    box-shadow: 0 0 0;
  }
}

@mixin pageBox() {
  @include moveShadowBox(5px);
  border: solid black 2px;
  background-color: #FFF9F9;
  padding: 1%;
  border-radius: 10px;
}

main {
  .col-lg-auto {
    margin: 0;
    padding: 0;
  }

  input, select {
    border-radius: 10px;
    @include moveShadowBox(5px);
  }

  #search_row {
    position: fixed;
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 20px 0;

    #search_offer {
      margin: 0 5%;
      width: 50%;
      height: 3rem;
      @include moveShadowBox(5px);
    }

    #search_button, #filters_button {
      margin-right: 5%;
      width: 15%;
      height: 3rem;
    }
  }


  #filters {
    @include pageBox();
    position: fixed;
    margin-top: 70px;

    .row {
      margin-bottom: 20px;

      > p {
        text-align: center;
        font-family: "Andada Pro Bold", serif;
        font-size: 2rem;
      }

      .filter_input {
        > div {
          display: flex;
          width: 50%;

          > label, input {
            width: 50%;
          }
        }
      }
    }
  }

  #offers {
    margin-top: 100px;
    .offer {
      @include pageBox;
      margin-bottom: 30px;

      .offer_info p {
        color: #676767;
      }

      #description {
        p {
          height: 70%;
        }

        #applied_button {
          height: 20%;
          text-align: center;
        }
      }

    }
  }


  @media (orientation: landscape) {

    #filters {
      right: 5%;
    }

    #offers {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;

      .offer {
        @include pageBox;
        margin-bottom: 30px;

        #info {
          li {
            display: flex;
            margin-bottom: 10px;
          }

          #title {
            font-family: "Andada Pro Bold", serif;
            font-size: 2rem;
          }

          .offer_info {
            i {
              font-size: 1rem;
              margin-right: 1rem;
            }

          }
        }

      }
    }
  }


  @media (orientation: portrait) {

    #filters {
      margin-right: 5%;
      margin-left: 5%;
    }

    #offers {
      .row {
        display: flex;
        flex-direction: column;
      }

      width: 90%;
      margin-left: 5%;
      margin-right: 5%;

      .offer {
        text-align: center;
        @include pageBox;
        margin-bottom: 30px;

        #info {
          list-style-type: none;

          i, p {
            display: inline-block;
            margin-bottom: 10px;
            padding: 0.5rem 1rem;
          }

          #title {
            font-family: "Andada Pro Bold", serif;
            font-size: 5rem;
          }

        }

        #description > #applied_button > button {
          font-size: 3rem;
        }
      }
    }

  }
}
