
@mixin width-max ($width) {
  width: $width;
  max-width: $width;
}

main {
  #window {
    padding: 50px 0;
    margin-left: 5%;
    margin-right: 5%;

    #tabs_content {
      position: absolute;
      top: 121px;
      height: 30px;

      /* Onglet de la page */
      .tabs {
        border: black 1px solid;
        border-radius: 10px 10px 0 0;
      }
      .active-tabs {
        background-color: #FFF4F4;
        border-bottom: none;
      }
      .disabled-tabs {
        background-color: #898989;
      }

    }

    #page_content {
      min-height: 70vh;
      background-color: #FFF4F4;
      border: black solid 1px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.65);
      padding: 5vh;
      h1 {
        font-size: 2rem;
      }

      #main_content {
        min-height: 50vh;
      }

      #button_content {
        min-height: 10vh;
        text-align: end;
        #validate_data {
          background-color: darkseagreen;
        }
      }

      /* Onglet my_offer */

      #offer_tab {
        #offer_list {
          margin-top: 2em;
          width: 70vw;
          position: absolute;
          thead, tbody {
            width: 100%;
            background-color: white;
            border: black solid 1px;

            td, th {
              text-align: center;
              height: 2em;
              overflow: hidden;
            }

            .offer_list_checkbox, .offer_list_detail, .offer_list_mod {
              @include width-max(5vw);
            }

            .offer_list_title {
              @include width-max(25vw)
            }

            .offer_list_date {
              @include width-max(20vw)
            }

            .offer_list_status {
              @include width-max(10vw)
            }


          }

          tbody {
            z-index: 0;
            position: absolute;
            max-height: 30vh;
            min-height: 30vh;
            overflow-y: scroll;
          }
        }
      }
    }
  }
}
