<footer>
    <div class="row">
        <div class="col-lg order-3 order-lg-1">
            <img id="logo" src="{{ asset('images/logo.png') }}" alt="logo">
        </div>
        <div class="col-lg order-1 order-lg-2">
            <p id="title">Navigation :</p>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Annonces</a></li>
                <li><a href="#">Publier un annonce</a></li>
                <li><a href="#">Mon Profil</a></li>
            </ul>
        </div>
        <div class="col-lg order-2 order-lg-3">
            <p id="title">Suivez-nous :</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
        <div class="col-lg order-4 order-lg-4">
            <img id="logo" src="{{ asset('images/label.png') }}" alt="label">
        </div>
    </div>
    <div class="row container-fluid" id="end_message">
        <p>Tout ce qui est sur ce site est faux !!</p>
    </div>
</footer>